@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --unnamed-color-262626:#262626;
  --unnamed-color-3c3c3f:#3C3C3F;
  --unnamed-color-ffffff:#FFFFFF;
  --unnamed-color-D5D5D5:#D5D5D5;
  --unnamed-color-D8D8D8:#D8D8D8;
  --unnamed-color-9D9D9D:#9D9D9D;
  --unnamed-color-838383:#838383;
  --unnamed-color-888888:#888888;
  --unnamed-color-74b71b:#74b71b;
  --unnamed-color-74b71bc2:#73b71bda;
  --unnamed-color-E64580:#E64580;
  --unnamed-color-838EAB:#838EAB;
  --unnamed-color-F2F2F4:#F2F2F4;
  --unnamed-color-525F7F:#525F7F;
  --unnamed-color-E6E8EE:#E6E8EE;
  --unnamed-color-006A4E:#006A4E;
  --unnamed-color-E1E8EE:#E1E8EE;
}

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/Group_background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}

.cursor-pointer{
  cursor: pointer;
}

.review-txt{
  color: var(--unnamed-color-838EAB);
}