@import 'index.css';

.breadcrumb{
    font-size:14px;
    color:var(--unnamed-color-262626) !important;
    margin:0;
}

a, a:hover{
    color:var(--unnamed-color-262626);
}

.imageArea{
    position: relative;
}

.title{
    font-family: 'Raleway';
    font-weight:700;
    font-size:24px;
    color: var(--unnamed-color-262626);
}

.point{
    font-family: 'Raleway';
    font-weight:700;
    font-size:24px;
    color: var(--unnamed-color-74b71b);
}

.jumlah{
    font-size: 14px;
}

.inputGroup{
    width: 80px;
    font-size:17px;
}

.inputGroupFormControl{
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    background-color: var(--unnamed-color-ffffff) !important;
    color: var(--unnamed-color-525F7F);
    padding: 0;
    margin: 0;
}

.inputButton{
    margin: 0;
    background-color: var(--unnamed-color-F2F2F4);
    color: var(--unnamed-color-525F7F);
    border:0;
    border-radius:0 !important;
}

.headerInfoProduk{
    color: var(--unnamed-color-74b71b);
    font-weight: 600;
    font-size:16px;
    margin: 0;
}

.hr_class{
    border-top: 1px solid var(--unnamed-color-E6E8EE);
}

.hr_class_green{
    border-top: 3px solid var(--unnamed-color-74b71b);
    width:153px;
}

.titleRincianProduk{
    color: var(--unnamed-color-006A4E);
    font-weight: 500;
    font-size:20px;
    margin: 0;
}

.rincianProduk{
    line-height:3;
}