@import 'index.css';

.header_p_list{
    position: relative;
}
.section_title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size:17px;
    margin: 0;
    color: var(--unnamed-color-3c3c3f);
}

.hr_class{
    border-top: 1px solid var(--unnamed-color-D5D5D5);
}

.filter_box{
    border: 1px solid var(--unnamed-color-D8D8D8);
    color: var(--unnamed-color-888888);
    font-size:15px;
    border-radius:8px;
    box-shadow: 0px 3px 6px #00000012;
}

.soldOut{
    background: var(--unnamed-color-E1E8EE);
    border: 1px solid var(--unnamed-color-E1E8EE);
}

.choosen{
    background: var(--unnamed-color-74b71bc2);
    display:none;
    transition: display 0.5s all;
    opacity: 1 !important;
}

.titleChosen{
    font-family: 'Raleway';
    font-weight: 600;
    font-size:16px;
    margin: 0;
    color: var(--unnamed-color-ffffff);
    padding-top:40%;
}

.buttonChosen{
    border-radius: 40px;
    border: 1px solid var(--unnamed-color-ffffff);
    color: var(--unnamed-color-ffffff) !important;
    background-color: transparent !important;
    width:100%;
    font-size:14px;
}

.imageChoosen{
    filter: invert(1);
}

.opacity73{
    opacity: .4;
}

.opacity1{
    opacity: 1;
}

.filter_box:hover .choosen{
    box-shadow: 10px 10px 10px #00000012;
    display: block;
    transition: all 0.5s ease;
}

.group_sorting{
    position: absolute;
    top: -16px;
    right: 4px;
    align-items: center;
}

.sorting_label{
    font-family: 'Raleway';
    font-weight: 500;
    font-size:15px;
    color: var(--unnamed-color-888888);
}

.sorting_input{
    border-radius: 33px;
    border: 1px solid var(--unnamed-color-9D9D9D);
    color: var(--unnamed-color-838383);
    width: 200px;
    text-align: center;
}

.list_data_title{
    font-family: 'Raleway';
    font-weight: 500;
    font-size:16px;
    margin: 0;
    color: var(--unnamed-color-3c3c3f);
}

.point{
    color: var(--unnamed-color-74b71b);
}

.btn_wishlist{
    width: 120%;
}

.inStock{
    color: var(--unnamed-color-74b71b);
    font-weight: 600;
}

.outStock{
    color: var(--unnamed-color-E64580);
    font-weight: 600;
}

.iconAddOn{
    position: absolute;
    right: 0;
    top: 0;
}
